@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&display=swap');
.card {
   outline: none;
   margin: 1rem;
   width: 150px;
   display: flex;
   justify-content: space-between;
  .img_card {
    width: 100%;
    border-radius: 5px;
  }
  .card_title{
        margin-top: 10px;
        font-size: 1rem;
        //font-family: 'Fasthand', cursive;
        font-family: 'Fuzzy Bubbles', cursive;
        font-weight: bolder;
}
  .card_release_date {
    width: 100%;
    font-size: 0.8rem;
  }
  .genres {
    display: flex;
    justify-content: flex-start;
    margin: 3px;
    .vote {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      font-size: 0.8rem;
      font-weight: bolder;
    }
  }
}


