body, *{
  padding: 0;
  margin: 0;
  font-size: 1.2rem;

}
.App {
  text-align: center;
  min-height: 100vh;
  display:grid;
  grid-template-columns: 30% 70%;
  margin-top: 180px;
  padding: 1rem;
}

.header {
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  background-color: cadetblue;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}
.genre_container {
  font-weight: 600;
  display: grid;
  align-content: start;
  justify-content: space-around;
  grid-template-columns: repeat(2 ,50%)  ;
  gap: 1rem;
  padding: 1rem;
  border: black solid 2px;
}
.genre_container div {
  font-size: 1rem;

 padding:1rem;
  background-color: rgba(16, 203, 47, 0.46);
}

.lists_container,
.search_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  list-style-type: none;
}
li {
  padding: 1rem;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  
}

.card {
  border:solid 2px;
  outline: none;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 25%;
  border-radius: 20px;
}

.card .img_card {
  width: 100%;
  border-radius: 20px;
}
.card_title,
.card_release_date {
  width: 100%;
  font-size: 0.8rem;
}

.genres {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 5px;
  font-size: 0.8rem;
}
